// FONTS
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

// COLORS
$white-color: #fff;
$black-color: #000;
// HEADER COLORS
$link-color: #121212;

// BLOCK COLORS
$block-one: #F5F5F5;
$block-text-color: #131313;
$block-subtitle-color: #4F4F4F;
$block-btn: #ED145B;
$block-right-color: #778CEB;
$block-orange-color: #FFB27D;
$product-btn-color: #8DC63F;
$card-one-color: #FFEBEB;
$card-bottom-color: #FDE9D2;
$line-color: #F6FAFF;